.header {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Distribute space between items */
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex: 1; /* Take up remaining space */
    justify-content: flex-end; /* Align nav links to the right */
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 20px; /* Add some space between links */
    font-family: Montserrat; /* Inherit font family */
    font-size: 10; /* Inherit font size */
    cursor: pointer; /* Add pointer cursor */
}

.profile-image {
    height: 5vh;
    border-radius: 10px;
    margin-right: 20px; /* Add some space between image and nav links */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the start */
    }

    .nav-list {
        justify-content: space-evenly; /* Center nav links */
        flex: none; /* Reset flex property */
        width: 100%; /* Take full width */
        margin-top: 10px; /* Add some space above nav links */
        overflow-x: auto; /* Allow horizontal scrolling if needed */
    }

    .nav-link {
        margin-left: 0; /* Reset margin */
    }

    .profile-image {
        margin-right: 0; /* Reset margin */
        margin-bottom: 10px; /* Add space below image */
    }
}